<%# Write your code here! %>
<!DOCTYPE html>
       <html>
       <head></head>
<title></title>
<body><h1>Welcome!</h1></body>
<h1>Welcome!</h1>
 
<form action="/greet" method="POST">
  <label for="user_name">Name:</label>
 
  <p><input type="text" name="user_name" id="user_name" /></p>
 
  <input type="submit" value="Submit"/>
</form>
</html>
