<%# Write your code here! %>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
"Welcome!"

<form action="/greet" method="post"><input type="text" name="user_name"><input type="submit" value="Submit">
</form>
</body>
</html>
